<div class="consola">
    <img class="carcasa" src="gbcsvg.svg" alt="Game Boy Color" draggable="false">

    <canvas #pantalla width="160" height="144" class="pantalla"></canvas>

    @if (!encendido()) {
        <div class="apagada">
            @if (cargando()) {
                <span>Cargando...</span>
            } @else if (insertado() && !rom()) {
                <span>Rom no<br>disponible</span>
            } @else if (insertado()) {
                <span>Pulsa<br>power</span>
            }
        </div>
    }

    <span class="led" [class.on]="encendido()" aria-hidden="true"></span>

    @if (insertado() && rom() && !encendido() && !cargando()) {
        <button type="button" class="power" (click)="arrancar(rom()!)">Power</button>
    }
</div>
